@{
    ViewData["Title"] = "IFSP - CUBATÃO";
}

<div class="text-center">
    <h1 class="display-4">TP02 - SWII6 - Professor Wellington Tuler Moraes </h1>
    <hr />
     <p>FABRICIO CARLOS GUIMARAES - CB3014886</p>
     <p>BENILDES FERNANDES DE MENEZES - CB3004392</p>
   
</div>
